.public-report-container {
    background-color: #FFFFFF;
    margin: 1rem;
}

.public-report-container h1 {
    margin-top: 1rem;
}

#region_histogram_field_block,
#period_chart_field_block {
    margin-left: 1rem;
}

#reportTypeBlock .mat-radio-button {
    margin-left: 0;
}

#reportType {
    margin-top: 1rem;
}

.highlighted-date {
    background: orange;
    border-radius: 100%;
}

#indicatorDatesPeriodTitle {
    margin-top: 1rem;
}

.mat-table {
    display: block;
    width: 100%;
    overflow-x: auto;
}

.table-container {
    width: 90vw;
    margin-bottom: 2rem;
}

.table-column-100 {
    border: 1px solid #ccc;
    padding: .5rem;
    min-width: 200px;
    text-align: center;
}

.report-table-info {
    padding: 1rem 2rem;
}

.public-report-container .table-container {
    padding-left: 2rem;
    padding-right: 2rem;
}

#reportChartPeriod, #reportChartPeriod {
    margin-right: 1rem;
}

.public-report-accordion{
    width: 100%;
}

.report-chart-container {
    padding: 1rem 2rem;
}
